::-webkit-datetime-edit-year-field {
  color: var(--Secondry-color);
}
::-webkit-calendar-picker-indicator {
  color: var(--Secondry-color);
}
.contnet {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.view {
  width: 95%;
}
.records-list {
  max-height: 50vh;
}
.datePick div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.datePick div input {
  background-color: transparent;
  color: var(--Secondry-color);
}
.datePick p {
  color: var(--Primary-color);
}
.datePick span {
  color: var(--Secondry-color);
}
.totalAndExcel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
