.dashboard {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.logout {
  position: absolute;
  color: var(--Primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
  right: 20px;
}
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  margin-top: 100px;
}
.header .text {
  color: var(--Primary-color);
}
.header .text span {
  color: var(--Secondry-color);
}
.edit {
  color: var(--Primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-navbar{
    margin: 20px 0px;
}

.dashboard-button {
  text-decoration: none;
  width: 113px;
  height: 35px;
  flex-shrink: 0;
  background: var(--lite-color, #d6ffbc);
  color: var(--Primary-color, #06555a);
}

.dashboard-button:first-child {
  border-top-left-radius: 20px; /* Curved top-left corner for the first button */
  border-bottom-left-radius: 20px; /* Curved bottom-left corner for the first button */
  border-right: 1px solid var(--Primary-color);
}

.dashboard-button:last-child {
  border-top-right-radius: 20px; /* Curved top-right corner for the last button */
  border-bottom-right-radius: 20px; /* Curved bottom-right corner for the last button */
  border-left: 1px solid var(--Primary-color);
}

.dashboard-button:hover {
    background-color: var(--Primary-color);
    color: var(--Terinary-color, #f1ffe9);
}
.dashboard-button.active {
  background-color: var(--Primary-color);
  color: var(--Terinary-color, #f1ffe9);
}
