@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
/* width */
::-webkit-scrollbar {
  max-width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Secondry-color);
  border-radius: 15px;
}
:root {
  --Primary-color: #06555a;
  --Secondry-color: #8bf349;
  --Terinary-color: #f1ffe9;
  --lite-color: #d6ffbc;
}

body {
  background-color: var(--Terinary-color);
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.H1 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.H2 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.H3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.P {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}

button:focus {
  /* Add your custom focus styles here */
  outline: none;
  border: none;
}
/* Remove default styles for anchor links */
a {
  text-decoration: none; /* Remove underlines */
  color: inherit; /* Inherit text color */
  cursor: pointer; /* Change cursor to pointer on hover (optional) */
  /* You can further style your links as needed */
}
input:focus {
  outline: none;
}
input {
  border: none;
}
